<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  {% for section in site.data.cv %}
    {% if section.title == "General Information" %}
      {% for item in section.contents %}
        <tr>
          <td class="p-1 pr-2 font-weight-bold">
            <b>{{ item.name }}</b>
          </td>
          <td class="p-1 pl-2 font-weight-light text">
            {{ item.value }}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  {% endfor %}
</table>
