<ul class="card-text font-weight-light list-group list-group-flush">
  {% for section in site.data.cv %}
    {% if section.title == "Education" %}
      {% for item in section.contents %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
              {% if item.year %}
                <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px"> 
                  {{ item.year }} 
                </span>
              {% endif %}
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                {{ item.title }}
              </h6>
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ item.institution }}</h6>
              {% if item.description %}
                <ul class="items">
                  {% for desc in item.description %}
                    <li>
                      <span class="item">{{ desc }}</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>